<style>
  .row {
     margin-right:0px;
     margin-left: 0px;
  }
   .addMember{
   background-image: -webkit-linear-gradient(top, #11c1f3 0%, #11c1f3 100%);
  }
</style>

<div class="bar bar-header bar-positive backgroundColorheader">
  <button class="button button-icon icon ion-arrow-left-c backgroundColorButton" ng-click="goToBack()"></button>
  <div class="h1 title colorTextHed">Admin Task</div>
  <!--<button class="button button-clear button-positive">Remove</button>-->
</div>

<ion-content class="backgroundColor">
  <div class="card" ng-repeat="task in tasksData" >
    <div class="item item-text-wrap">
      <div class="row">
            <div class="col">{{task.classCode}}</div>
            <div class="col">{{task.taskTitle}}</div>
      </div>
      <div class="row">
             <div class="col">{{task.subjectCode}}</div>
      </div>
      <div class="row">
        <div class="col">{{task.taskDescription}}</div>
      </div>
    </div>
    <button class="button button-block button-assertive txtDesignbutton backgroundColorButton" style="margin: 0px" ng-click="showConfirm(task.taskCode)">
     Delete Task
    </button>
  </div>
  <br>
</ion-content>
<div class="bar bar-footer bar-light backgroundColorButton"  ng-click="isOpenRightAddTask()">
  <div class="title">Add Task</div>
</div>

<md-sidenav md-component-id="rightadminTask" class="md-sidenav-right backgroundColor" style="min-width: 100%;">
  <ion-header-bar class="bar bar-positive backgroundColorheader">
    <button ng-click="cancelAddTask()"  class="button icon 	glyphicon glyphicon-menu-left backgroundColorButton" style="display: block">
    </button>
    <h1 class="h1 title colorTextHed" style="text-align: center;">Add Admin</h1>
  </ion-header-bar>
  <br>
  <br>
  <br>
  <br>


  <div class="row colorText">
    <div class="col-20 lableDesign" ><span >Class:</span></div>
    <div class="col">
     <!-- <input class="form-control" ng-model="class">-->
      <select ng-model="class" class="form-control">
        <option ng-repeat="sub in classData" ng-value="sub.classCode">{{sub.classTitle}}</option>
      </select>
    </div>
  </div>
  <div class="row colorText">
    <div class="col-20 lableDesign" ><span >Start Days:</span></div>
    <div class="col">
      <input class="form-control" type="datetime-local" ng-model="startdays">
    </div>
  </div>
  <div class="row colorText">
    <div class="col-20 lableDesign" ><span >End Days:</span></div>
    <div class="col">
      <input class="form-control" type="datetime-local" ng-model="enddays">
    </div>
  </div>
  <div class="row colorText">
    <div class="col-20 lableDesign" ><span >Subject: </span></div>
    <div class="col">
      <!--<input class="form-control" ng-model="subject">-->
      <select ng-model="subject" class="form-control">
        <option ng-repeat="sub in subjectData" ng-value="sub.subjectCode">{{sub.subjectTitle}}</option>
      </select>
    </div>
  </div>
  <div class="row colorText">
    <div class="col-20 lableDesign" ><span >Task Title: </span></div>
    <div class="col">
      <input class="form-control" ng-model="title">
    </div>
  </div>
  <div class="row colorText">
    <div class="col-20 lableDesign" ><span >Task Discription: </span></div>
    <div class="col">
      <input class="form-control" ng-model="discription">
    </div>
  </div>
<form ng-submit="uploadFile()">

  <div class="row colorText" >
    <div class="col" style="text-align: center;">
      <input type="file" id="file" name="file"  multiple="" />
    </div>
    <div  style="padding-top: 10px;">
      <input type="submit" name="Upload File" value="Update File" style="color: #000;">
     <!--<button ng-click="uploadFile()" >Upload File</button>-->
    </div>
  </div>
</form>
  <br>
  <div class="row">
    <div class="col" style="text-align: center;">
          <span  id="btn1">
          <input type="submit" id="edit_roomConcept" class="btn btn-primary btn-save addMember" value="Save" ng-click="saveTaskInformation()">

          </span>
    </div>
  </div>
  </div>

</md-sidenav>
