<style>
  .row{
    margin-right: 0px;
    margin-left: 0px;

  }

</style>
<ion-view view-title="admin" >
  <div class="bar bar-header bar-positive backgroundColorheader">
    <!-- <button class="button button-icon icon ion-navicon"></button>-->
    <div class="h1 title colorTextHed">Admin Panel</div>
    <button class="button button-icon icon ion-log-out backgroundColorButton" ng-click="logoutUser()"></button>
  </div>




<ion-content class="backgroundColor">
<br><br><br>
<div class="container ">
  <div class="row" style="display: block;">
  <div class="col-xs 12 col-sm-6 ">
    <div class="card" style="text-align: center;padding-top: 8px;">
      <img class="card-img-top" src="http://res.cloudinary.com/gurutu/image/upload/c_scale,w_150/v1532963896/Hybrid-app/add_user.png" alt="Card image cap">
      <div class="card-body" style="padding: 10%;">
        <h5 class="card-title">Click below to add / delete members</h5>
        <button class="button button-positive button-full backgroundColorButton txtDesignbutton" ng-click="sendToMember()">
          Member
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs 12 col-sm-6">
    <div class="card" style="text-align: center;padding-top: 8px;">
      <img class="card-img-top" src="http://res.cloudinary.com/gurutu/image/upload/h_150,w_150/v1532963896/Hybrid-app/add_tasks.png" alt="Card image cap">
      <div class="card-body" style="padding: 10%;">
        <h5 class="card-title">Click below to add / delete members</h5>
        <button class="button button-positive button-full backgroundColorButton txtDesignbutton" ng-click="sendToTasks()">
          Tasks
        </button>
      </div>
    </div>
  </div>
  </div>
</div>


  <!--<div class="row admin-row" >

		<div class="col-xs 12 col-sm-6 card custom-card">
		<img class="card-img-top" src="http://res.cloudinary.com/gurutu/image/upload/c_scale,w_150/v1532963896/Hybrid-app/add_user.png" alt="Card image cap">
		<div class="card-body" style="padding: 10%;">
		<h5 class="card-title">Click below to add / delete members</h5>
		<button class="button button-positive button-full" ng-click="sendToMember()">
       Member
      </button>
		</div>
		</div>
		<div class="col-xs 12 col-sm-6 card custom-card">
		<img class="card-img-top" src="http://res.cloudinary.com/gurutu/image/upload/h_150,w_150/v1532963896/Hybrid-app/add_tasks.png" alt="Card image cap">
		<div class="card-body" style="padding: 10%;">
		<h5 class="card-title">Click below to add / delete members</h5>
		<button class="button button-positive button-full" ng-click="sendToTasks()">
        Tasks
      </button>
		</div>
		</div>

  </div>-->


</ion-content>
</ion-view>
