<style>
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
</style>
<ion-view view-title="admin" >
  <div class="bar bar-header bar-positive backgroundColorheader">
    <button class="button button-icon icon ion-arrow-left-c backgroundColorButton" ng-click="goToBack()"></button>
    <div class="h1 title colorTextHed">Notification Panel</div>
   <!-- <button class="button button-icon icon ion-log-out" ng-click="logoutUser()"></button>-->
  </div>

  <ion-content class="backgroundColor">

          <h1 class="colorText" style="margin-top: 164px;text-align: center;font-size: 78px;">Coming Soon</h1>


  </ion-content>
</ion-view>
