<style>
  .headingCart{
      background: #555;
      color: #fff;
      font-size: 12px;
    }
</style>

<ion-header-bar class="bar bar-positive backgroundColorheader">
  <button ng-click="goToBack()"  class="button icon 	glyphicon glyphicon-menu-left backgroundColorButton" style="display: block">
  </button>
  <h1 class="title colorTextHed" style="text-align: center;">Performance Student</h1>
</ion-header-bar>
<div class="card " style=" margin: 44px 0px;">
  <div class="item item-text-wrap headingCart backgroundHeadingColor">
    <div class="row" style="text-align: center;">
      <div class="col colorTextHed" ><span >Task Title : </span></div>
      <div class="col colorTextHed" ><span >Start Date : </span></div>
      <div class="col colorTextHed" ><span >End Date : </span></div>

    </div>
  </div>

  <div class="item item-text-wrap backgroundColor"  style="font-size: 12px;background-color: #fff;" ng-click="sideNavAssignTask(p.taskCode)">
    <div class="row">
      <div class="col colorText" style="text-align:center;">
        {{p.taskTitle}}
      </div>
      <div class="col colorText" style="text-align:center;">
        {{p.startDate | date:'medium'}}
      </div>
      <div class="col colorText" style="text-align:center;">
        {{p.endDate | date:'medium'}}
      </div>
    </div>
  </div>

  <div class="item item-text-wrap backgroundColor" ng-repeat="p in performanceTaskList" style="font-size: 12px;background-color: #fff;" ng-click="sideNavAssignTask(p.taskCode)">
    <div class="row">
      <div class="col colorText" style="text-align:center;">
        {{p.taskTitle}}
      </div>
      <div class="col colorText" style="text-align:center;">
        {{p.startDate | date:'medium'}}
      </div>
      <div class="col colorText" style="text-align:center;">
        {{p.endDate | date:'medium'}}
      </div>
    </div>
  </div>

</div>
<md-sidenav md-component-id="sideAssignTask" class="md-sidenav-right" style="min-width: 100%;">
  <ion-header-bar class="bar bar-positive backgroundColorheader">
    <button ng-click="cancelNavAssignTask()"  class="button icon 	glyphicon glyphicon-menu-left backgroundColorButton" style="display: block">
    </button>
  <!--  <button ng-click="filterByStatus(studentListOfPer)"  class="button icon glyphicon glyphicon-filter backgroundColorButton" style="margin-left: 218px;">
    </button>-->
    <h1 class="title colorTextHed" style="text-align: center;">Perfromance Student List</h1>
  </ion-header-bar>
  <br>
  <br>
  <div class="row">
    <div class="col">Total Task : {{totalTask}}</div>
    <div class="col">
      <select class="form-control" name="cars" ng-model="selectFilter">
        <option value="select" selected>Select Filter </option>
        <option value="completed">Completed</option>
        <option value="In Progress">In Progress</option>
        <option value="Assigned">Assigned</option>
      </select>

    </div>
  </div>
<div class="row">
      <div class="col">
        Completed : {{completed}}
      </div>
      <div class="col">
        Not Started : {{start}}
      </div>
      <div class="col">
        In Progress : {{inprogress}}
      </div>
</div>
  <div class="card" style=" margin: 4px 0px;">
    <div class="item item-text-wrap headingCart backgroundHeadingColor">
      <div class="row" style="text-align: center;">
        <div class="col colorTextHed" ><span >Completed Task : </span></div>
        <div class="col colorTextHed" ><span >Status : </span></div>

      </div>
    </div>

    <div class="item item-text-wrap backgroundColor" style="font-size: 12px;"  ng-repeat="per in studentListOfPer " ng-if="selectValue(per.status)">
      <div class="row">
        <div class="col colorText">
          {{per.name}}
        </div>
        <div class="col colorText">
          {{per.status}}
        </div>
      </div>
    </div>
  </div>
</md-sidenav>


