/* Empty. Add your own CSS if you like */

.userIco{
border-radius:50%;
height:130px;
width:130px;
margin:auto;
}
.sp{
    width:100%;
    padding-top:10px;
}

.row {
   margin-right: 0px;
   margin-left: 0px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ea5c36;
  border-color: #ea5c36;
  opacity: 0.8;
}
.btn-save {
  border-radius: 20px !important;
  padding: 8px 69px !important;
  background-color: #ea5c36;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnImage {
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  background-color: white;
  padding: 5px 32px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.buttonDesign{
    box-shadow: 0px 2px 10px #000;
    border-radius: 65px;
    min-width: 110px;
    color: #387ef5 ! important;
    background-color: #f8f8f8 ! important;
}
.txtDesignbutton{
border-radius: 24px ! important;
}
 .backgroundColor{
     background-color: #171a29 ! important;
 }
 .backgroundColorButton{
      background-color: #11c1f3 ! important;
 }
 .backgroundColorheader{
      background-color: #fff ! important;
 }
 .backgroundHeadingColor{
      background-color: #11c1f3 ! important;
 }
 .colorText{
    color: #fff ! important;
 }
 .colorTextHed{
     color: #000! important;
  }
  .buttonAssign{
     width: 100%;
     font-size: 20px;
     font-weight: 700;
  }
  .admin-row{
        padding: 10%;
      margin-top: 20%;
      text-align: center;
  }

  .custom-card{
    min-width: 30rem;
    min-height: 30rem;
  }
